html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
  background-image: url('./images/bg-pattern.png');
}

.country {
  display: inline-block;
  width: auto;
  border: 1px solid #ff8c00;
  padding: 10px;
  margin-left: calc((100% - 10px) / 3);
  background-color: rgb(196, 196, 230);
}

.countries_card {
  display: flex;
}

.flag {
  max-width: 300px;
  margin-left: 20px;
}

h2,
h1 {
  text-align: center;
}

.country_information {
  font-family: sans-serif;
  color: black;
  font-size: 20px;
}

.languages {
  font-family: sans-serif;
  color: black;
  font-size: 18px;
}

.inform {
  width: auto;
}

.search-input {
  font-size: 20px;
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
  margin-left: calc((100% - 25% - 6px) / 2);
  width: 23%;
  height: 15px;
  border: 1px solid #ff8c00;
}
